<% include header.ejs %>
<div class="fight-arena">
    <div class="score">
        <div class="container">
            <div class="playerScore">
                <div class="left">
                    <div class="player"><img src="<%=req.user.photo(110) %>" /></div>
                    <div class="robot"><div class="icon"></div></div>
                    <div class="stats">
                        <div class="name"><%=revisions[0].name%></div>
                        <div class="life"><div class="filled" style="width: 100%"></div></div>
                    </div>
                </div>
                <div class="right">
                    <div class="stats">
                        <div class="name"><%=revisions[1].name%></div>
                        <div class="life"><div class="filled" style="width: 100%"></div></div>
                    </div>
                    <div class="robot"><div class="icon"></div></div>
                    <div class="player"><img src="<%=req.user.photo(110) %>" /></div>
                </div>
            </div>
        </div>
    </div>

    <div class="board">
    </div>
</div>

<% include scripts.ejs %>

<% revisions.forEach(function(robot_revision_fight) { %>
<script type="robot/script" id="robot-<%= robot_revision_fight.id %>-code">
    <%- robot_revision_fight.code %>
</script>
<% }); %>

<script>
    container = $(".fight-arena");

    var robot1Name = '<%=revisions[0].name%>';
    var robot2Name = '<%=revisions[1].name%>';

    var robot1Code = $('#robot-<%= revisions[0].id %>-code').html();
    var robot2Code = $('#robot-<%= revisions[1].id %>-code').html();

    var robot1Life = $('.left .life .filled');
    var robot2Life = $('.right .life .filled');

    var onRound = function(round) {
        for (var i=0; i<round.objects.length; i++) {
            var obj = round.objects[i];
            if (obj.name == robot1Name && !obj.isClone) {
                robot1Life.css('width', obj.life + "%");
            }
            if (obj.name == robot2Name && !obj.isClone) {
                robot2Life.css('width', obj.life + "%");
            }
        }
    };

    arena = new FightArena(container, [
        {
            name: "<%= revisions[0].name %>",
            code: robot1Code,
            rectangle: {
                position: {
                    x: <%= revisions[0].position_x %>,
                    y: <%= revisions[0].position_y %>
                },
                angle: <%= revisions[0].angle %>
            }
        },
        {
            name: "<%= revisions[1].name %>",
            code: robot2Code,
            rectangle: {
                position: {
                    x: <%= revisions[1].position_x %>,
                    y: <%= revisions[1].position_y %>
                },
                angle: <%= revisions[1].angle %>
            }
        }
    ], onRound)
</script>

<a href="/robots/fight/<%= revisions[0].gistId %>/<%=revisions[1].gistId %>">FIGHT AGAIN</a>
<% include footer.ejs %>
