<% include header.ejs %>
<div class="fight-arena">
    <div class="score">
        <div class="container">
            <div class="playerScore">
                <div class="left">
                    <div class="player">
                        <a href="/profile/<%=revisions[0].user.login %>">
                            <img src="<%=revisions[0].user.photo(110) %>" />
                        </a>
                    </div>
                    <div class="robot"><div class="icon" style="background-color: <%=revisions[0].color %>"></div></div>
                    <div class="stats">
                        <div class="name"><%=revisions[0].name%></div>
                        <div class="life"><div class="filled" style="width: 100%"></div></div>
                    </div>
                </div>
                <div class="right">
                    <div class="stats">
                        <div class="name"><%=revisions[1].name%></div>
                        <div class="life"><div class="filled" style="width: 100%"></div></div>
                    </div>
                    <div class="robot"><div class="icon" style="background-color: <%=revisions[1].color %>"></div></div>
                    <div class="player">
                        <a href="/profile/<%=revisions[1].user.login %>">
                            <img src="<%=revisions[1].user.photo(110) %>" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="board">
    </div>

    <div class="container">
        <div class="comments">
            <div class="fb-comments"
            data-href="http://fightcodegame.com<%=req.url%>" data-width="940" data-num-posts="50" data-colorscheme="dark"></div>
        </div>
    </div>
</div>

<% include scripts.ejs %>

<% revisions.forEach(function(robot_revision_fight) { %>
<script type="robot/script" id="robot-<%= robot_revision_fight.id %>-code">
    <%- robot_revision_fight.code %>
</script>
<% }); %>

<script>
    container = $(".fight-arena");

    var robot1Name = '<%=revisions[0].name%>';
    var robot2Name = '<%=revisions[1].name%>';

    var robot1Code = $('#robot-<%= revisions[0].id %>-code').html();
    var robot2Code = $('#robot-<%= revisions[1].id %>-code').html();

    var robot1Life = $('.left .life .filled');
    var robot2Life = $('.right .life .filled');

    var onRound = function(round) {
        for (var i=0; i<round.objects.length; i++) {
            var obj = round.objects[i];
            if (obj.name == robot1Name && !obj.isClone) {
                robot1Life.css('width', obj.life + "%");
            }
            if (obj.name == robot2Name && !obj.isClone) {
                robot2Life.css('width', obj.life + "%");
            }
        }
    };

    arena = new FightArena(container, [
        {
            name: "<%= revisions[0].name %>",
            code: robot1Code,
            color: '<%= revisions[0].color %>',
            rectangle: {
                position: {
                    x: <%= revisions[0].position_x %>,
                    y: <%= revisions[0].position_y %>
                },
                angle: <%= revisions[0].angle %>
            }
        },
        {
            name: "<%= revisions[1].name %>",
            code: robot2Code,
            color: '<%= revisions[1].color %>',
            rectangle: {
                position: {
                    x: <%= revisions[1].position_x %>,
                    y: <%= revisions[1].position_y %>
                },
                angle: <%= revisions[1].angle %>
            }
        }
    ], onRound)
</script>

<% include footer.ejs %>
