<footer>
    <div class="container">
        <div class="footer-logo"></div>

        <p>is a project that started as an entry for the Github Game-Off contest 2012</p>

        <ul>
            <li>
                <a title="Bernardo Heynemann" href="http://github.com/heynemann/">
                    <img alt="Bernardo Heynemann" src="<%= gravatar.url('heynemann@gmail.com', {s: 50}) %>">
                    <span>Bernardo<br>Heynemann</span>
                </a>
            </li>
            <li>
                <a title="Cezar Sá" href="http://github.com/cezarsa">
                    <img alt="Cezar Sá" src="<%= gravatar.url('cezarsa@gmail.com', {s: 50}) %>">
                    <span>Cezar<br>Sá</span>
                </a>
            </li>
            <li>
                <a title="Fábio Costa" href="http://github.com/fabiomcosta">
                    <img alt="Fábio Costa" src="<%= gravatar.url('fabiomcosta@gmail.com', {s: 50}) %>">
                    <span>Fábio<br>Costa</span>
                </a>
            </li>
            <li>
                <a title="Guilherme Souza" href="http://github.com/guilhermef">
                    <img alt="Guilherme Souza" src="<%= gravatar.url('guivideojob@gmail.com', {s: 50}) %>">
                    <span>Guilherme<br>Souza</span>
                </a>
            </li>
            <li>
                <a title="Marcela Abbade" href="http://github.com/">
                    <img alt="Marcela Abbade" src="<%= gravatar.url('marcelabbade@gmail.com', {s: 50}) %>">
                    <span>Marcela<br>Abbade</span>
                </a>
            </li>
            <li>
                <a title="Rafael Carício" href="http://github.com/rafaelcaricio">
                    <img alt="Rafael Carício" src="<%= gravatar.url('rafael.jacinto@gmail.com', {s: 50}) %>">
                    <span>Rafael<br>Carício</span>
                </a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>
