<% include header.ejs %>
<div class="home container">
    <div class="row">
        <div class="span12">
            <div class="header">
                <span class="header-icon"></span>
                <div class="header-title">
                    <h1>how about coding and killing some robots?</h1>
                </div>
                <div class="header-subtitle">code your winning robot and start
                climbing the ranks</div>
            </div>

            <p><a href="http://fightcodegame.com">FightCode</a> allows you to code your own robots using JavaScript.</p>
            <p>Challenge friends and foe to win glory and fortune (well, technically not fortune, but you get the idea).</p>
            <p>If you want to get started, just click in the button below!
            Don't worry, there's a comprehensive documentation on how to get
            going in the same page where you create your robot.</p>
            <p>Invite your friends and start a killing spree. Killing a buddy is a lot cooler than killing a stranger (which is also cool, by the way).</p>
            <p class="actions"><a href="/robots/create" class="btn-create-robot btn btn-primary btn-large btn-block">Create a Robot</a></p>
        </div>
    </div>

    <% if (locals.fights && locals.fights.length > 0) {
        var lastDate = locals.fights[0][0].created_at; %>
    <div class="row timeline">
        <div class="span12">
            <div class="header">
                <span class="header-icon"></span>
                <div class="header-title">
                    <h1>Fights for <%- lastDate %></h1>
                </div>
                <div class="header-subtitle">click the fight to watch</div>
            </div>

            <ul class="timeline">
                <% for (var i=0; i<locals.fights.length; i++) {
                    firstRobot = locals.fights[i][0];
                    secondRobot = locals.fights[i][1];
                %>
                <% if (firstRobot.created_at != lastDate) {
                    lastDate = firstRobot.created_at;
                %>
                    </ul>

                    <div class="header">
                        <span class="header-icon"></span>
                        <div class="header-title">
                            <h1>Fights for <%- lastDate %></h1>
                        </div>
                        <div class="header-subtitle">click the fight to watch</div>
                    </div>

                    <ul class="timeline">
                <% } %>
                <li class="score">
                    <div class="container">
                        <div class="playerScore">
                            <div class="left">
                                <div class="player">
                                    <a href="/profile/<%= firstRobot.login %>">
                                        <img src="<%= firstRobot.thumb %>">
                                    </a>
                                </div>
                                <a href="/robots/replay/<%- firstRobot.fight_id %>">
                                    <div class="robot"><div class="icon" style="background-color: <%- firstRobot.color %>"></div></div>
                                    <div class="stats">
                                        <div class="name"><%= firstRobot.robot_name %></div>
                                        <div class="life"><div class="filled" style="width: 100%"></div></div>
                                    </div>
                                </a>
                            </div>
                            <a href="/robots/replay/<%- firstRobot.fight_id %>">
                                <div class="divider"></div>
                            </a>
                            <div class="right">
                                <a href="/robots/replay/<%- firstRobot.fight_id %>">
                                    <div class="stats">
                                        <div class="name"><%= secondRobot.robot_name %></div>
                                        <div class="life"><div class="filled" style="width: 100%"></div></div>
                                    </div>
                                    <div class="robot"><div class="icon" style="background-color: <%- secondRobot.color %>"></div></div>
                                </a>
                                <div class="player">
                                    <a href="/profile/<%= secondRobot.login %>">
                                        <img src="<%= secondRobot.thumb %>">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
    <% } %>
</div>



<% include scripts.ejs %>
<% include footer.ejs %>
