<% include header.ejs %>
<div class="home container">
    <div class="row">
        <div class="span12">
            <div class="header">
                <span class="header-icon"></span>
                <div class="header-title">
                    <h1>how about coding and killing some robots?</h1>
                </div>
                <div class="header-subtitle">code your winning robot and start
                climbing the ranks</div>
            </div>


            <p class="lead"><a href="http://fightcodegame.com">FightCode</a> allows you to code your own robots using JavaScript.</p>
            <p>Code your winning robot and start climbing the ranks.</p>
            <p>Challenge friends and foe to win glory and fortune (well, technically not fortune, but you get the idea).</p>
            <p>You can always check the example robot to get a feel on how things happen in the game.</p>
            <p>You can also <a href="/invite">invite friends</a>. Killing a buddy is a lot cooler than killing a stranger (which is also cool, by the way).</p>
            <p><a href="/robots/create" class="btn-create-robot btn btn-primary btn-large btn-block">Create a Robot</a></p>
        </div>
    </div>

    <% if (locals.fights) { 
        var lastDate = locals.fights[0][0].created_at; %>
    <div class="row">
        <div class="span12">
            <div class="header">
                <span class="header-icon"></span>
                <div class="header-title">
                    <h1><%- lastDate %></h1>
                </div>
                <div class="header-subtitle">click the fight to watch</div>
            </div>

            <ul class="timeline">
                <% for (var i=0; i<locals.fights.length; i++) { 
                    firstRobot = locals.fights[i][0];
                    secondRobot = locals.fights[i][1];
                %>
                <% if (firstRobot.created_at != lastDate) { 
                    lastDate = firstRobot.created_at;
                %>
                    </ul>

                    <div class="header">
                        <span class="header-icon"></span>
                        <div class="header-title">
                            <h1><%- lastDate %></h1>
                        </div>
                        <div class="header-subtitle">click the fight to watch</div>
                    </div>

                    <ul class="timeline">
                <% } %>
                <li class="score">
                    <div class="container">
                        <a href="#" class="playerScore">
                            <div class="left">
                                <div class="player"><img src="<%- firstRobot.thumb %>"></div>
                                <div class="robot"><div class="icon" style="background-color: <%- firstRobot.color %>"></div></div>
                                <div class="stats">
                                    <div class="name"><%= firstRobot.robot_name %></div>
                                    <div class="life"><div class="filled" style="width: 100%"></div></div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="stats">
                                    <div class="name"><%= secondRobot.robot_name %></div>
                                    <div class="life"><div class="filled" style="width: 100%"></div></div>
                                </div>
                                <div class="robot"><div class="icon" style="background-color: <%- secondRobot.color %>"></div></div>
                                <div class="player"><img src="<%- secondRobot.thumb %>"></div>
                            </div>
                        </a>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
    <% } %>
</div>


    
<% include scripts.ejs %>
<% include footer.ejs %>
