<% include header.ejs %>
<div class="break"></div>

<div class="ranking-area">

    <div class="container">
        <div class="header">
            <span class="header-icon"></span>
            <div class="header-title">
                <h1>RANKING</h1>
            </div>
            <div class="header-subtitle">FIGHT OTHER PEOPLE AND GO UP THE RANK!</div>
        </div>
    </div>

    <div class="container">
        <% for (var i=0; i<robotRank.length; i++) { %>
            <div class="rank">
                <% for (var x=0; x < robotRank[i].rank.length; x++) {%>
                    <% if (robotRank[i].rank[x].user_id === req.user.id) {%>
                    <div class="line mine">
                    <% } else { %>
                    <div class="line">
                    <% } %>
                        <span class="position">#<%= robotRank[i].rank[x].row_number %></span>
                        <span class="robot-face" style="background-color: <%=robotRank[i].rank[x].color %>"></span>
                        <span class="robot-name"><%= robotRank[i].rank[x].title %></span>
                        <span class="robot-score"><%= robotRank[i].rank[x].score %> points</span>
                        <% if (robotRank[i].rank[x].user_id !== req.user.id) {%>
                        <span class="actions">
                            <a href="/robots/fight/<%= robotRank[i].rank[x].id %>" class="fight">FIGHT</a>
                            <% if (robotRank[i].rank[x].isPublic) {%>
                                <a href="/robots/fork/<%= robotRank[i].rank[x].gist %>" class="fork">FORK</a>
                            <% }else{ %>
                                <span class="fork disabled">FORK</span>
                            <% } %>
                        </span>
                        <% } %>
                        <a href="/profile/<%= robotRank[i].rank[x].login %>" class="user-photo">
                            <img src="<%=: robotRank[i].rank[x].email | gravatar_url:62 %>">
                        </a>
                    </div>

                <% } %>

            </div>
            <div class="separator"></div>
        <% } %>
    </div>

    <div class="top10">
        <div class="container">
            <div class="header">
                <div class="header-title">
                    <h1>TOP 10</h1>
                </div>
                <div class="header-subtitle">THE BEST JS ROBOT CODERS!</div>
            </div>
            <ul>
                <% for (var i=0; i < top10.length; i++) {%>
                <li class="<% if (i===0) {%><%='open'%><%}%>">
                    <div class="sidebar">
                        <span class="robot" style="background-color: <%= top10[i].color %>"></span>
                        <a href="/profile/<%= top10[i].login %>" class="user-photo">
                            <img src="<%=: top10[i].email | gravatar_url:80 %>">
                        </a>
                        <span class="position"># <%= top10[i].row_number %></span>
                    </div>
                    <div class="info">
                        <p class="robot-name"><%= top10[i].title %></p>
                        <div class="robot-data">
                            <span class="line score">
                                <p class="value"><%= top10[i].score || 0 %></p>
                                <p>SCORE</p>
                            </span>
                            <span class="line kills">
                                <span class="icon"></span>
                                <p class="value"><%= top10[i].enemies_killed || 0 %></p>
                                <p>KILLS</p>
                            </span>
                            <span class="line shots">
                                <span class="icon"></span>
                                <p class="value"><%= top10[i].shots_fired || 0 %></p>
                                <p>SHOTS</p>
                            </span>
                            <span class="line aim">
                                <span class="icon"></span>
                                <p class="value"><%= top10[i].hitsPercentage || 0 %>%</p>
                                <p>PRECISION</p>
                            </span>
                        </div>
                        <% if (top10[i].user_id !== req.user.id) {%>
                            <span class="actions">
                                <a href="/robots/fight/<%= top10[i].id %>" class="fight">FIGHT</a>
                                <% if (top10[i].isPublic) {%>
                                    <a href="/robots/fork/<%= top10[i].gist %>" class="fork">FORK</a>
                                <% }else{ %>
                                    <span class="fork disabled">FORK</span>
                                <% } %>
                            </span>
                        <%}%>
                    </div>
                    <div class="vertical-separator"></div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>

<% include footer.ejs %>
<% include scripts.ejs %>
