<% include header.ejs %>
<div class="break"></div>

<div class="ranking-area">

    <div class="container">
        <div class="page-header">
            <span class="prize"></span>
            <div class="title">
                <div class="marker"></div>
                <h1>RANKING</h1>
                <div class="marker"></div>
            </div>
            <div class="performance">FIGHT OTHER PEOPLE AND GO UP THE RANK!</div>
        </div>
    </div>

    <div class="container">
        <% for (var i=0; i<robotRank.length; i++) { %>
            <div class="rank">
                <% for (var x=0; x < robotRank[i].rank.length; x++) {%>
                    <% if (robotRank[i].rank[x].user_id === req.user.id) {%>
                    <div class="row mine">
                    <% } else { %>
                    <div class="row">
                    <% } %>
                        <span class="position">#<%= robotRank[i].rank[x].row_number %></span>
                        <span class="robot-face"></span>
                        <span class="robot-name"><%= robotRank[i].rank[x].title %></span>
                        <% if (robotRank[i].rank[x].user_id !== req.user.id) {%>
                        <span class="actions">
                            <a href="#" class="fight">FIGHT</a>
                            <a href="#" class="fork">FORK</a>
                        </span>
                        <% } %>
                        <span class="user-photo">
                            <img src="<%=: robotRank[i].rank[x].email | gravatar_url:62 %>">
                        </span>
                    </div>

                <% } %>

            </div>
            <div class="separator"></div>
        <% } %>
    </div>

    <div class="top10">
        <div class="container">
            <div class="header">
                <div class="title">
                    <div class="marker"></div>
                    <h1>TOP 10</h1>
                    <div class="marker"></div>
                </div>
                <div class="performance">THE BEST JS ROBOT CODERS!</div>
            </div>
            <ul>
                <% for (var i=0; i < top10.length; i++) {%>
                <li class="<% if (i===0) {%><%='open'%><%}%>">
                    <div class="sidebar">
                        <span class="robot"></span>
                        <span class="user-photo">
                            <img src="<%=: top10[i].email | gravatar_url:80 %>">
                        </span>
                        <span class="position"># <%= top10[i].row_number %></span>
                    </div>
                    <div class="info">
                        <p class="robot-name"><%= top10[i].title %></p>
                        <div class="robot-data">
                            <span class="row kills">
                                <span class="icon"></span>
                                <p class="value">400</p>
                                <p>KILLS</p>
                            </span>
                            <span class="row shots">
                                <span class="icon"></span>
                                <p class="value">3.123</p>
                                <p>SHOTS</p>
                            </span>
                            <span class="row aim">
                                <span class="icon"></span>
                                <p class="value">45%</p>
                                <p>PRECISION</p>
                            </span>
                        </div>
                        <% if (top10[i].user_id !== req.user.id) {%>
                            <span class="actions">
                                <a href="#" class="fight">FIGHT</a>
                                <a href="#" class="fork">FORK</a>
                            </span>
                        <%}%>
                    </div>
                    <div class="vertical-separator"></div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>

    <!-- <div class="row-fluid">
        <% for (var i=0; i<robotRank.length; i++) { %>
            <div class="span3">
                <h2><%= robotRank[i].robot.title || 'The nameless' %></h2>

                <table class="fight-table table table-bordered table-hover">
                    <tbody>
                        <% for (var x=0; x<robotRank[i].rank.length; x++) {%>
                            <% if (robotRank[i].robot.ownerLogin == req.user.login) {%>
                                <tr class="my-robot">
                            <%} else {%>
                                <tr class="my-robot">
                            <%}%>
                                <td><span class="ranking">#<%= robotRank[i].rank[x].row_number %></span><span class="name"><%= robotRank[i].rank[x].title %></span></td>
                                <td class="actions">
                                    <% if (robotRank[i].robot.ownerLogin != req.user.login) {%>
                                        <a href="#" data-robot-id="<%- i%>" class="fight">fight</a>
                                    <%}%>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        <% } %>
    </div> -->
</div>

<% include footer.ejs %>
<% include scripts.ejs %>
