<% include header.ejs %>
<div class="show-user">
    <div class="container">
        <div class="user-info">
            <img alt="<%= user.name %>" src="<%= user.photo(152) %>" />
            <div class="info">
                <h2><%= user.name %></h2>
                <p>Rio de Janeiro, RJ - Brazil</p>
            </div>
            <div class="actions">
                <a class="btn" href="/robots/create">CODE NEW ROBOT</a>
            </div>
        </div>
    </div>

    <div class="robots-area">
        <div class="container">
            <div class="header">
                <div class="title">
                    <div class="marker"></div>
                    <h1>MY ROBOTS</h1>
                    <div class="marker"></div>
                </div>
                <div class="performance">ABSOLUTELY EVERYTHING ABOUT YOUR ARMY OF ROBOTS</div>
            </div>

            <ul class="robots">
                <% for (var i=0; i<5; i++) {%>
                <li>
                    <div class="left">
                        <div class="ranking"># 256</div>
                        <div class="robot"></div>
                    </div>
                    <div class="right">
                        <div class="main-info">
                            <div class="summary">
                                <div class="name">The Crazy desTroYer</div>
                                <div class="data">
                                    <span class="created">created 15/11/12</span>
                                    <span class="lines">5.094 code lines</span>
                                </div>
                            </div>
                            <div class="star-ranking"></div>
                        </div>
                        <div class="stats">
                            <div class="numbers">
                                <div class="kills"><span class="icon"></span><span class="text">400</span><span class="label">KILLS</span></div>
                                <div class="shots-fired"><span class="icon"></span><span class="text">3.123</span><span class="label">SHOTS</span></div>
                                <div class="shots-hit"><span class="icon"></span><span class="text">2.000</span><span class="label">HITS</span></div>
                            </div>
                            <div class="chart">
                                <input type="text"
                                       value="61"
                                       class="dial"
                                       data-readOnly="true"
                                       data-width="87"
                                       data-displayInput="false"
                                       data-bgColor="#7a0014"
                                       data-fgColor="#ed0027"
                                       data-angleOffset="-90"
                                />
                            </div>
                            <div class="average">
                                <div class="number">61%</div>
                                <div class="label">AVERAGE HITS/SHOT</div>
                            </div>
                            <div class="overtime">
                                <div class="user-chart"
                                    data-chart-values="[['x', 'Cats'], ['A',   1], ['B',   2], ['C',   4], ['D',   8], ['E',   7], ['F',   7], ['G',   8], ['H',   4], ['I',   2], ['J',   3.5], ['K',   3], ['L',   3.5], ['M',   1], ['N',   1]]"></div>
                                <div class="label">SCORE OVER TIME</div>
                            </div>
                        </div>
                    </div>
                </li>
                <% } %>
            </ul>

            <div class="adsense-container">
                <div class="container">
                    <div class="ad-body">
                        <div class="ad-text"></div>
                        <div class="google-ad">
                            <script type="text/javascript"><!--
                            google_ad_client = "ca-pub-4181325019020156";
                            /* fightcode */
                            google_ad_slot = "6754080881";
                            google_ad_width = 728;
                            google_ad_height = 90;
                            //-->
                            </script>
                            <script type="text/javascript"
                            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                            </script>
                        </div>
                    </div>
                </div>
            </div>

            <div class="add-robot">
                <div class="container">
                    <div class="new-robot">
                        <div class="left">
                            <div class="robot"></div>
                        </div>
                        <div class="right">
                            <div class="actions">
                                <a class="btn" href="/robots/create">CODE NEW ROBOT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="latest-combats">
        <div class="container">
            <div class="header">
                <div class="title">
                    <div class="marker"></div>
                    <h1>LATEST COMBATS</h1>
                    <div class="marker"></div>
                </div>
                <div class="performance">WATCH COMBATS HAPPENING RIGHT NOW</div>
            </div>

            <ul class="combats">
                <% for (var i=0; i<3; i++) { %>
                <li>
                    <div class="combat">
                        <div class="left">
                            <div class="player">
                                <img src="<%= user.photo(134) %>" />
                                <div class="robot-circle"></div>
                            </div>
                            <div class="robot"></div>
                            <div class="info">
                                <div class="name">The Crazy Destroyer</div>
                                <div class="ranking"># 1</div>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="right">
                            <div class="player">
                                <img src="<%= user.photo(134) %>" />
                                <div class="robot-circle"></div>
                            </div>
                            <div class="robot"></div>
                            <div class="info">
                                <div class="name">The Crazy Destroyer</div>
                                <div class="ranking"># 1</div>
                            </div>
                        </div>
                    </div>
                </li>
            <% } %>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<% include scripts.ejs %>

<% include footer.ejs %>
